In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.7/site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (46.0.0.post20200309)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

In [119]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')

In [22]:
imdb_title_crew_df = pd.read_sql_query("""SELECT * FROM movies.imdb_title_crew;
""",con)

In [65]:
imdb_test = imdb_title_crew_df['directors'].str.split(pat=',',expand=True)

In [75]:
imdb_test.iloc[:,4].count()

710

In [69]:
imdb_test.loc[imdb_test.iloc[:,25]=='nm328']

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
52125,nm0294492,nm2559367,nm1518064,nm3396174,nm2948816,nm1577396,nm2214843,nm4100656,nm1116918,nm2967350,...,nm1383041,nm1878071,nm4385970,nm1086005,nm2014194,nm5192901,nm2013916,nm2940487,nm1543633,nm328

In [70]:
imdb_test['tconst'] = imdb_title_crew_df['tconst']

In [71]:
imdb_test

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,tconst
0,nm0712540,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt0063540
1,nm0002411,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt0066787
2,nm0000080,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt0069049
3,nm0611531,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt0069204
4,nm0765384,nm0749914,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt0100275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,nm8185151,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt9916538
146140,nm9272490,nm9272491,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt9916622
146141,nm7764440,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt9916706
146142,nm10538612,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt9916730
146143,nm9272490,nm8349149,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,tt9916754

In [76]:
imdb_test.drop(columns=['4':'25'])

SyntaxError: invalid syntax (<ipython-input-76-a999e7b33b79>, line 1)

In [72]:
imdb_test.loc[imdb_test.iloc[:,25]=='nm328']

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,tconst
52125,nm0294492,nm2559367,nm1518064,nm3396174,nm2948816,nm1577396,nm2214843,nm4100656,nm1116918,nm2967350,...,nm1878071,nm4385970,nm1086005,nm2014194,nm5192901,nm2013916,nm2940487,nm1543633,nm328,tt3091166

In [78]:
imdb_title_crew_df['dir1'] = imdb_test[0]

In [80]:
imdb_title_crew_df['dir2'] = imdb_test[1]

In [81]:
imdb_title_crew_df['dir3'] = imdb_test[2]

In [84]:
imdb_crew = imdb_title_crew_df

In [86]:
imdb_crew.iloc[:,3].count()

146144

In [90]:
imdb_crew.drop(columns=['directors'])

,tconst,writers,dir1,dir2,dir3
0,tt0063540,"nm0023551,nm1194313,nm0347899,nm1391276",nm0712540,None,None
1,tt0066787,None,nm0002411,None,None
2,tt0069049,"nm0000080,nm0462648",nm0000080,None,None
3,tt0069204,nm0347899,nm0611531,None,None
4,tt0100275,"nm1360635,nm0749914",nm0765384,nm0749914,None
...,...,...,...,...,...
146139,tt9916538,"nm4843252,nm4900525,nm2679404",nm8185151,None,None
146140,tt9916622,"nm9272490,nm9272491",nm9272490,nm9272491,None
146141,tt9916706,nm7933903,nm7764440,None,None
146142,tt9916730,nm10538612,nm10538612,None,None
146143,tt9916754,"nm8349149,nm9272490",nm9272490,nm8349149,None

In [92]:
writers = imdb_title_crew_df['writers'].str.split(pat=',',expand=True)

In [93]:
imdb_crew['wri1'] = writers[0]

In [94]:
imdb_crew['wri2'] = writers[1]

In [95]:
imdb_crew['wri3'] = writers[2]

In [97]:
imdb_crew.drop(columns='writers')

,tconst,directors,dir1,dir2,dir3,wri1,wri2,wri3
0,tt0063540,nm0712540,nm0712540,None,None,nm0023551,nm1194313,nm0347899
1,tt0066787,nm0002411,nm0002411,None,None,None,None,None
2,tt0069049,nm0000080,nm0000080,None,None,nm0000080,nm0462648,None
3,tt0069204,nm0611531,nm0611531,None,None,nm0347899,None,None
4,tt0100275,"nm0765384,nm0749914",nm0765384,nm0749914,None,nm1360635,nm0749914,None
...,...,...,...,...,...,...,...,...
146139,tt9916538,nm8185151,nm8185151,None,None,nm4843252,nm4900525,nm2679404
146140,tt9916622,"nm9272490,nm9272491",nm9272490,nm9272491,None,nm9272490,nm9272491,None
146141,tt9916706,nm7764440,nm7764440,None,None,nm7933903,None,None
146142,tt9916730,nm10538612,nm10538612,None,None,nm10538612,None,None
146143,tt9916754,"nm9272490,nm8349149",nm9272490,nm8349149,None,nm8349149,nm9272490,None

In [100]:
imdb_title = pd.read_sql_query("""SELECT * FROM movies.imdb_title_basics;""",con)

In [101]:
imdb_title

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary

In [111]:
imdb = imdb_title.set_index('tconst').join(imdb_crew.set_index('tconst'))

In [116]:
imdb = imdb.drop(columns='writers')

In [117]:
imdb

,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,wri2,wri3
tconst,,,,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,None,None,nm0023551,nm1194313,nm0347899
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,None,None,None,None,None
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,None,None,nm0000080,nm0462648,None
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,None,None,nm0347899,None,None
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,nm0749914,None,nm1360635,nm0749914,None
...,...,...,...,...,...,...,...,...,...,...,...
tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,nm4900525,nm2679404
tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,nm9272491,None
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,None,None
tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,None,None
tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,nm9272490,None

In [120]:
imdb_people = pd.read_sql_query("""SELECT * FROM movies.imdb_name_basics;""",con)

In [121]:
imdb_people

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0038355,tt0117057,tt0071877,tt0037382"
1,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0049189,tt0057345,tt0054452,tt0059956"
2,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0069467,tt0050986,tt0083922,tt0050976"
3,nm0000006,Ingrid Bergman,1915.0,1982.0,"actress,soundtrack,producer","tt0071877,tt0036855,tt0038109,tt0038787"
4,nm0000007,Humphrey Bogart,1899.0,1957.0,"actor,soundtrack,producer","tt0034583,tt0033870,tt0037382,tt0043265"
...,...,...,...,...,...,...
606643,nm9993494,Amjad Ali,NaN,NaN,writer,tt7722258
606644,nm9993573,Lakisha Louissaint,NaN,NaN,"director,writer,producer",tt10299418
606645,nm9993616,Ryan Mac Lennan,NaN,NaN,actor,tt4844148
606646,nm9993650,Marcin Balcerak,NaN,NaN,actor,tt8739208
606647,nm9993680,Christopher-Lawson Palmer,NaN,NaN,actor,tt8295580

In [127]:
imdb.set_index('dir1').join(imdb_people.set_index('nconst'))

,primary_title,original_title,start_year,runtime_minutes,genres,dir2,dir3,wri1,wri2,wri3,primary_name,birth_year,death_year,primary_profession,known_for_titles
,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
,Snowblind,Snowblind,2015,NaN,"Crime,Drama",None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
,Capture the Flag,Capture the Flag,2010,NaN,Drama,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
,Sealand,Sealand,2019,NaN,"Biography,Drama",None,None,nm0175726,nm1802864,None,NaN,NaN,NaN,NaN,NaN
,P.O.W. Open Air am Meer,P.O.W. Open Air am Meer,2017,NaN,Sport,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9992900,White Spot,White Spot,2018,92.0,"Adventure,Documentary,Drama",None,None,nm9992900,nm9992899,None,Tin Brendel,NaN,NaN,"writer,director,cinematographer",
nm9992905,Merata: How Mum Decolonised the Screen,Merata: How Mum Decolonised the Screen,2018,89.0,"Biography,Documentary",None,None,None,None,None,Hepi Mita,NaN,NaN,"director,camera_department",tt8742574
nm9992906,A Room,A Room,2018,110.0,"Crime,Drama,Fantasy",None,None,nm9992906,None,None,Dingli Diao,NaN,NaN,"writer,producer,director",
nm9993380,Now and Not Later - Embrace the Moment,Now and Not Later - Embrace the Moment,2019,NaN,"Biography,Comedy,Drama",nm9993379,nm9993381,nm9993380,nm9993379,None,Pegasus EnvoyÃ©,NaN,NaN,"director,actor,writer",tt8743182
nm9993573,No Perfect Love,No Perfect Love,2019,NaN,"Drama,Romance",None,None,nm9993573,None,None,Lakisha Louissaint,NaN,NaN,"director,writer,producer",tt10299418

In [125]:
imdb_people

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0038355,tt0117057,tt0071877,tt0037382"
1,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0049189,tt0057345,tt0054452,tt0059956"
2,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0069467,tt0050986,tt0083922,tt0050976"
3,nm0000006,Ingrid Bergman,1915.0,1982.0,"actress,soundtrack,producer","tt0071877,tt0036855,tt0038109,tt0038787"
4,nm0000007,Humphrey Bogart,1899.0,1957.0,"actor,soundtrack,producer","tt0034583,tt0033870,tt0037382,tt0043265"
...,...,...,...,...,...,...
606643,nm9993494,Amjad Ali,NaN,NaN,writer,tt7722258
606644,nm9993573,Lakisha Louissaint,NaN,NaN,"director,writer,producer",tt10299418
606645,nm9993616,Ryan Mac Lennan,NaN,NaN,actor,tt4844148
606646,nm9993650,Marcin Balcerak,NaN,NaN,actor,tt8739208
606647,nm9993680,Christopher-Lawson Palmer,NaN,NaN,actor,tt8295580

In [133]:
imdb

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,wri2,wri3
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,None,None,nm0023551,nm1194313,nm0347899
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,None,None,None,None,None
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,None,None,nm0000080,nm0462648,None
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,None,None,nm0347899,None,None
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,nm0749914,None,nm1360635,nm0749914,None
...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,nm4900525,nm2679404
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,nm9272491,None
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,None,None
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,None,None
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,nm9272490,None

In [130]:
imdb = imdb.reset_index()

In [138]:
imdb = imdb.join(imdb_people.set_index('nconst'),on='dir1',how='left')

In [139]:
imdb.drop(columns=['birth_year','death_year','primary_profession','known_for_titles'])

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,wri2,wri3,primary_name
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,None,None,nm0023551,nm1194313,nm0347899,Harnam Singh Rawail
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,None,None,None,None,None,Mani Kaul
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,None,None,nm0000080,nm0462648,None,Orson Welles
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,None,None,nm0347899,None,None,Hrishikesh Mukherjee
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,nm0749914,None,nm1360635,nm0749914,None,Valeria Sarmiento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,nm4900525,nm2679404,Azhar Kinoi Lubis
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,nm9272491,None,Angela Gurgel
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,None,None,Kanchan Nayak
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,None,None,Kiran Gawade
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,nm9272490,None,Angela Gurgel

In [142]:
imdb['dir1_name'] = imdb['primary_name']

In [145]:
imdb

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,wri2,wri3,primary_name,birth_year,death_year,primary_profession,known_for_titles,dir1_name
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,None,None,nm0023551,nm1194313,nm0347899,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer","tt0266757,tt0266712,tt0134996,tt0266765",Harnam Singh Rawail
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,None,None,None,None,None,Mani Kaul,1944.0,2011.0,"director,writer,actor","tt0102515,tt0070009,tt0066514,tt0207626",Mani Kaul
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,None,None,nm0000080,nm0462648,None,Orson Welles,1915.0,1985.0,"actor,director,writer","tt0048393,tt0052311,tt0057427,tt0033467",Orson Welles
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,None,None,nm0347899,None,None,Hrishikesh Mukherjee,1922.0,2006.0,"director,editor,writer","tt0066763,tt0147855,tt0137362,tt0137361",Hrishikesh Mukherjee
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,nm0749914,None,nm1360635,nm0749914,None,Valeria Sarmiento,1948.0,NaN,"editor,director,writer","tt0100275,tt1928329,tt0166656,tt0089706",Valeria Sarmiento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,nm4900525,nm2679404,Azhar Kinoi Lubis,NaN,NaN,director,"tt8517144,tt5774688",Azhar Kinoi Lubis
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,nm9272491,None,Angela Gurgel,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,None,None,Kanchan Nayak,NaN,NaN,director,tt5242010,Kanchan Nayak
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,None,None,Kiran Gawade,NaN,NaN,,,Kiran Gawade
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,nm9272490,None,Angela Gurgel,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel

In [149]:
imdb2 = imdb.join(imdb_people.set_index('nconst'),on='dir2',how='left',lsuffix='imdb')

In [150]:
imdb2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   tconst                  146144 non-null  object
 1   primary_title           146144 non-null  object
 2   original_title          146144 non-null  object
 3   start_year              146144 non-null  int64
 4   runtime_minutes         114405 non-null  float64
 5   genres                  146144 non-null  object
 6   dir1                    146144 non-null  object
 7   dir2                    15727 non-null   object
 8   dir3                    2501 non-null    object
 9   wri1                    110261 non-null  object
 10  wri2                    42229 non-null   object
 11  wri3                    14383 non-null   object
 12  primary_nameimdb        140416 non-null  object
 13  birth_yearimdb          30609 non-null   float64
 14  death_yearimdb          856 non-null     float64
 15  primary_professionimdb  140416 non-null  object
 16  known_for_titlesimdb    140416 non-null  object
 17  dir1_name               140416 non-null  object
 18  primary_name            15727 non-null   object
 19  birth_year              2271 non-null    float64
 20  death_year              79 non-null      float64
 21  primary_profession      15727 non-null   object
 22  known_for_titles        15727 non-null   object
dtypes: float64(5), int64(1), object(17)
memory usage: 25.6+ MB

In [151]:
imdb2['primary_name'] = imdb2['dir2']

In [157]:
imdb2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tconst                   146144 non-null  object
 1   primary_title            146144 non-null  object
 2   original_title           146144 non-null  object
 3   start_year               146144 non-null  int64
 4   runtime_minutes          114405 non-null  float64
 5   genres                   146144 non-null  object
 6   dir1                     146144 non-null  object
 7   dir2                     15727 non-null   object
 8   dir3                     2501 non-null    object
 9   wri1                     110261 non-null  object
 10  wri2                     42229 non-null   object
 11  wri3                     14383 non-null   object
 12  primary_nameimdb2        140416 non-null  object
 13  birth_yearimdb2          30609 non-null   float64
 14  death_yearimdb2          856 non-null     float64
 15  primary_professionimdb2  140416 non-null  object
 16  known_for_titlesimdb2    140416 non-null  object
 17  dir1_name                140416 non-null  object
 18  primary_name             2500 non-null    object
 19  birth_year               373 non-null     float64
 20  death_year               10 non-null      float64
 21  primary_profession       2500 non-null    object
 22  known_for_titles         2500 non-null    object
dtypes: float64(5), int64(1), object(17)
memory usage: 25.6+ MB

In [152]:
imdb2 = imdb.join(imdb_people.set_index('nconst'),on='dir3',how='left',lsuffix='imdb2')

In [158]:
imdb2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,...,birth_yearimdb2,death_yearimdb2,primary_professionimdb2,known_for_titlesimdb2,dir1_name,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,None,None,nm0023551,...,1921.0,2004.0,"director,writer,producer","tt0266757,tt0266712,tt0134996,tt0266765",Harnam Singh Rawail,NaN,NaN,NaN,NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,None,None,None,...,1944.0,2011.0,"director,writer,actor","tt0102515,tt0070009,tt0066514,tt0207626",Mani Kaul,NaN,NaN,NaN,NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,None,None,nm0000080,...,1915.0,1985.0,"actor,director,writer","tt0048393,tt0052311,tt0057427,tt0033467",Orson Welles,NaN,NaN,NaN,NaN,NaN
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,None,None,nm0347899,...,1922.0,2006.0,"director,editor,writer","tt0066763,tt0147855,tt0137362,tt0137361",Hrishikesh Mukherjee,NaN,NaN,NaN,NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,nm0749914,None,nm1360635,...,1948.0,NaN,"editor,director,writer","tt0100275,tt1928329,tt0166656,tt0089706",Valeria Sarmiento,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,...,NaN,NaN,director,"tt8517144,tt5774688",Azhar Kinoi Lubis,NaN,NaN,NaN,NaN,NaN
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,...,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel,NaN,NaN,NaN,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,...,NaN,NaN,director,tt5242010,Kanchan Nayak,NaN,NaN,NaN,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,...,NaN,NaN,,,Kiran Gawade,NaN,NaN,NaN,NaN,NaN
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,...,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel,NaN,NaN,NaN,NaN,NaN

In [155]:
imdb2.tail(20)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,dir1,dir2,dir3,wri1,...,birth_yearimdb2,death_yearimdb2,primary_professionimdb2,known_for_titlesimdb2,dir1_name,primary_name,birth_year,death_year,primary_profession,known_for_titles
146124,tt9914522,The Holden Family Plan,The Holden Family Plan,2019,NaN,"Drama,Family",nm9932296,None,None,nm10537292,...,NaN,NaN,"director,cinematographer,actor","tt9914522,tt9859844,tt8614032,tt10096240",Benjamin Olson,NaN,NaN,NaN,NaN,NaN
146125,tt9914642,Albatross,Albatross,2017,NaN,Documentary,nm5300859,None,None,nm5300859,...,NaN,NaN,"director,writer,editor",tt2428672,Chris Jordan,NaN,NaN,NaN,NaN,NaN
146126,tt9914644,9/11: Escape from the Towers,9/11: Escape from the Towers,2018,120.0,Documentary,nm10537376,None,None,None,...,NaN,NaN,,,Grace Chapman,NaN,NaN,NaN,NaN,NaN
146127,tt9914662,Wien is 't Hof van Commerce,Wien is 't Hof van Commerce,2018,NaN,Comedy,nm10537404,None,None,nm10537404,...,NaN,NaN,,,Kristof Michiels,NaN,NaN,NaN,NaN,NaN
146128,tt9914828,The War of Godzilla,The War of Godzilla,2015,102.0,"Action,Comedy,Family",nm10537549,None,None,nm10537567,...,NaN,NaN,director,tt9914828,Kyle,NaN,NaN,NaN,NaN,NaN
146129,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,,nm1716653,None,None,nm3678448,...,NaN,NaN,"miscellaneous,actress,director","tt1164999,tt0464141,tt5151924,tt1649419",Laura Jou,NaN,NaN,NaN,NaN,NaN
146130,tt9915436,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary,nm6119329,None,None,nm6449800,...,NaN,NaN,"director,writer","tt3366710,tt6820114,tt9915436,tt6795284",Eduardo Rajabally,NaN,NaN,NaN,NaN,NaN
146131,tt9915790,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family,nm10538030,None,None,None,...,NaN,NaN,,,Sudipa Chatterjee,NaN,NaN,NaN,NaN,NaN
146132,tt9915872,The Last White Witch,The Last White Witch,2019,97.0,"Comedy,Drama,Fantasy",nm8063415,None,None,nm2507310,...,NaN,NaN,"director,writer,editor",tt5624216,Hideki Kiyota,NaN,NaN,NaN,NaN,NaN
146133,tt9916132,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,2018,94.0,"Biography,Documentary,History",nm3308828,None,None,None,...,NaN,NaN,"director,cinematographer,editor","tt5128218,tt6872654,tt5834958,tt3616954",Elena Demidova,NaN,NaN,NaN,NaN,NaN
146134,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,nm5684093,None,None,None,...,NaN,NaN,"director,cinematographer,writer","tt2927550,tt4000564",Joost van der Wiel,NaN,NaN,NaN,NaN,NaN
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama,nm5412267,None,None,nm5412267,...,NaN,NaN,"director,writer,editor",tt2568132,Tamar Guimaraes,NaN,NaN,NaN,NaN,NaN
146136,tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary,nm10538274,None,None,None,...,NaN,NaN,"director,cinematographer,editor",,Frank KÃ¶nig,NaN,NaN,NaN,NaN,NaN
146137,tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller",nm7308376,None,None,nm7308376,...,NaN,NaN,"actor,producer,writer","tt9916190,tt8081640,tt8994490,tt5003576",Fraser Precious,NaN,NaN,NaN,NaN,NaN
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War",nm0910951,None,None,None,...,NaN,NaN,"director,writer","tt0351226,tt0344062,tt0340445,tt1267271",Jixing Wang,NaN,NaN,NaN,NaN,NaN
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,None,None,nm4843252,...,NaN,NaN,director,"tt8517144,tt5774688",Azhar Kinoi Lubis,NaN,NaN,NaN,NaN,NaN
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490,nm9272491,None,nm9272490,...,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel,NaN,NaN,NaN,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,None,None,nm7933903,...,NaN,NaN,director,tt5242010,Kanchan Nayak,NaN,NaN,NaN,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,,nm10538612,None,None,nm10538612,...,NaN,NaN,,,Kiran Gawade,NaN,NaN,NaN,NaN,NaN
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,nm9272490,nm8349149,None,nm8349149,...,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754",Angela Gurgel,NaN,NaN,NaN,NaN,NaN